node-red-rc-controller/flows.json
[
    {
        "id": "98f04e36.3a6d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee116574.f1f048",
        "type": "inject",
        "z": "98f04e36.3a6d",
        "name": "set startup message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "node-red-RC-controller flow successfully started",
        "payloadType": "str",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "6c5aa1bc.4a843"
            ]
        ]
    },
    {
        "id": "6c5aa1bc.4a843",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "write startup message to console.",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "dd6aff29.bea9f",
        "type": "daemon",
        "z": "98f04e36.3a6d",
        "name": "cat out",
        "command": "cat",
        "args": "/var/lirc_raw_data/lirc0_events",
        "autorun": true,
        "cr": false,
        "redo": true,
        "op": "lines",
        "closer": "SIGKILL",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f3583679.ec0d38",
                "379f349c.70463c"
            ],
            [],
            []
        ]
    },
    {
        "id": "f3583679.ec0d38",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "379f349c.70463c",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "parse input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $splitted:=payload~>$split(' ');\t  $type := $splitted[0];\t  {\t     \"type\":$splitted[0],\t     \"duration_microsec\" : $splitted[1]~>$number()\t  };\t  $is_valid := ($type=\"pulse\") or ($type=\"space\");\t  $is_valid \t  ?{\t     \"type\":$type,\t     \"duration_microsec\" : $splitted[1]~>$number()\t    }\t  :{\t     \"type\": \"invalid\",\t     \"input\": payload\t  }\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "a38879ad.617888"
            ]
        ]
    },
    {
        "id": "a38879ad.617888",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "is invalid",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "invalid",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "4f74baee.afb814"
            ],
            [
                "eb0f5023.a7bc7",
                "d9963875.299d18"
            ]
        ]
    },
    {
        "id": "4f74baee.afb814",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "invalid input",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb0f5023.a7bc7",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "valid input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9963875.299d18",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "",
        "property": "payload.duration_microsec",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "a2a7e6a4.50c168"
            ]
        ]
    },
    {
        "id": "a2a7e6a4.50c168",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    }
]