node-red-rc-controller/flows.json
[
    {
        "id": "98f04e36.3a6d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd7141d6.f493b",
        "type": "tab",
        "label": "example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43d68cf7.723a54",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c6f1c674.61d028",
        "type": "ui_tab",
        "name": "RC Analysis",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a3f6904d.ff3a4",
        "type": "ui_group",
        "name": "Last key press",
        "tab": "c6f1c674.61d028",
        "order": 1,
        "disp": true,
        "width": "40",
        "collapse": false
    },
    {
        "id": "237da972.5d69a6",
        "type": "ui_group",
        "name": "ui-table with commands",
        "tab": "379a501f.53b59",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "c91332c0.50c11",
        "type": "ui_group",
        "name": "commands",
        "tab": "379a501f.53b59",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "379a501f.53b59",
        "type": "ui_tab",
        "name": "ui-table command",
        "icon": "fa-table",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e1b54ba.5857b8",
        "type": "ui_group",
        "name": "Gap",
        "tab": "c6f1c674.61d028",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "b9f27d7f.3c6aa",
        "type": "ui_group",
        "name": "col 1",
        "tab": "c6f1c674.61d028",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ca2c9bdb.872518",
        "type": "ui_group",
        "name": "duration statistics",
        "tab": "c6f1c674.61d028",
        "order": 4,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "ee116574.f1f048",
        "type": "inject",
        "z": "98f04e36.3a6d",
        "name": "set startup message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "node-red-RC-controller flow successfully started",
        "payloadType": "str",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "6c5aa1bc.4a843",
                "50f93e8d.4482f"
            ]
        ]
    },
    {
        "id": "6c5aa1bc.4a843",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "write startup message to console.",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "dd6aff29.bea9f",
        "type": "daemon",
        "z": "98f04e36.3a6d",
        "name": "cat out",
        "command": "cat",
        "args": "/var/lirc_raw_data/lirc0_events",
        "autorun": true,
        "cr": false,
        "redo": true,
        "op": "lines",
        "closer": "SIGKILL",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "f3583679.ec0d38",
                "379f349c.70463c"
            ],
            [],
            []
        ]
    },
    {
        "id": "f3583679.ec0d38",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "379f349c.70463c",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "parse input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $splitted:=payload~>$split(' ');\t  $type := $splitted[0];\t  {\t     \"type\":$splitted[0],\t     \"duration_microsec\" : $splitted[1]~>$number()\t  };\t  $is_valid := ($type=\"pulse\") or ($type=\"space\");\t  $is_valid \t  ?{\t     \"type\":$type,\t     \"duration_microsec\" : $splitted[1]~>$number()\t    }\t  :{\t     \"type\": \"invalid\",\t     \"input\": payload\t  }\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "a38879ad.617888"
            ]
        ]
    },
    {
        "id": "a38879ad.617888",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "is invalid",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "invalid",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "4f74baee.afb814"
            ],
            [
                "eb0f5023.a7bc7",
                "d9963875.299d18",
                "a047b1c6.f640c"
            ]
        ]
    },
    {
        "id": "4f74baee.afb814",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "invalid input",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "eb0f5023.a7bc7",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "valid input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9963875.299d18",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "",
        "property": "payload.duration_microsec",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "a2a7e6a4.50c168"
            ]
        ]
    },
    {
        "id": "a2a7e6a4.50c168",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "more than 2 msec",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "50f93e8d.4482f",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "flow.rc_key = []",
        "rules": [
            {
                "t": "set",
                "p": "rc_key",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "current_RC_key_press",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "964a261d.f4d158",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "long pulse ?",
        "property": "payload.type = \"pulse\" and payload.duration_microsec > 20000",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "b82c52e5.c504b",
                "703e3e93.997c8"
            ]
        ]
    },
    {
        "id": "b82c52e5.c504b",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "end recording",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "a047b1c6.f640c",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "append to flow.rc_key",
        "rules": [
            {
                "t": "set",
                "p": "rc_key",
                "pt": "msg",
                "to": "rc_key",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "rc_key",
                "pt": "flow",
                "to": "[ rc_key, payload ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "964a261d.f4d158"
            ]
        ]
    },
    {
        "id": "703e3e93.997c8",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "conv to sequences",
        "rules": [
            {
                "t": "set",
                "p": "rc_key",
                "pt": "msg",
                "to": "rc_key",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t\t  $long_spaces := rc_key#$i[type = \"space\" and duration_microsec > 10000].$i[];\t  $long_spaces#$i.{\t    \"begin\" : $,\t    \"end\" : $long_spaces[$i+1]~>$exists() \t            ? $long_spaces[$i+1]-1\t            : ($$.rc_key~>$count()) -1\t  }.(\t      $begin := $.begin;\t      $end := $.end;\t      { \"sequence\" :  $$.rc_key#$i[$begin<=$i and $i <= $end] }\t\t    )[]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "9081eb14.635a68",
                "d4b684c1.d8d978",
                "ed46f12.cb0141",
                "de3e05e0.ed6ba8"
            ]
        ]
    },
    {
        "id": "9081eb14.635a68",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "RC sequences",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "d4b684c1.d8d978",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "flow.rc_key = []",
        "rules": [
            {
                "t": "set",
                "p": "rc_key",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a9262f1b.e9dd8",
        "type": "ui_table",
        "z": "98f04e36.3a6d",
        "group": "a3f6904d.ff3a4",
        "name": "",
        "order": 1,
        "width": "40",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "bb452bf2.e73f58",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "table rows input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload.{\t  \"sequence\" : sequence#$i.{ \"\" & $i : $.type= \"space\" \t                                          ? - $.duration_microsec \t                                          :$.duration_microsec }~>$merge()\t}).sequence",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 700,
        "wires": [
            [
                "a9262f1b.e9dd8",
                "96805ffa.9915d",
                "13a678fe.fa3ae7"
            ]
        ]
    },
    {
        "id": "ed46f12.cb0141",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "table column formatting",
        "rules": [
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "(\t$max_sequence_len := payload.(sequence~>$count())~>$max();\t{\t    \"customHeight\": 18,\t    \"tabulator\": {\t        \"layout\": \"fitDataFill\",\t        \"movableColumns\": false,\t        \"index\": \"id\",\t        \"columns\": [\t            {\t                \"title\": \"ID\",\t                \"field\": \"id\",\t                \"formatter\": \"text\",\t                \"headerTooltip\": \"id number act as row index\"\t            },\t            /* array of RC pulse/spaces */\t             [0.. $max_sequence_len].{\t                \"title\": $~>$string(),\t                \"field\": $~>$string(),\t                \"align\":\"right\",\t                \"formatter\": \"text\"\t             }\t             ]\t    }\t}\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "a9262f1b.e9dd8",
                "a9fecaf4.6a9338",
                "bb452bf2.e73f58"
            ]
        ]
    },
    {
        "id": "b075d2ac.a69f3",
        "type": "ui_table",
        "z": "fd7141d6.f493b",
        "group": "237da972.5d69a6",
        "name": "",
        "order": 0,
        "width": "17",
        "height": "9",
        "columns": [
            {
                "field": "id",
                "title": "id",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "text",
                "title": "Text",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "588f316.0b070d",
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "f8a9323b.fedf4",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "add @ top",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 154,
        "y": 338,
        "wires": [
            [
                "eb577b4b.510388"
            ]
        ]
    },
    {
        "id": "b54f6ce8.3b1a4",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "addRow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 375,
        "y": 440,
        "wires": []
    },
    {
        "id": "eb577b4b.510388",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "addRow @ top",
        "func": "var id=flow.get(\"lastId\") || 0;\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timestamp\":msg.payload,\n            \"text\":\"addRow @ top (#\"+id+\")\"\n            }\n        ],\n        true\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395,
        "y": 304,
        "wires": [
            [
                "b54f6ce8.3b1a4",
                "b075d2ac.a69f3"
            ]
        ],
        "info": "# addRow([row],onTop)\n\n`onTop=true`\n\nadds a new Row on top of the table"
    },
    {
        "id": "588f316.0b070d",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "response from ui-table",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1095,
        "y": 440,
        "wires": []
    },
    {
        "id": "12606591.7a3dca",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "Init 20 rows",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 164,
        "y": 168,
        "wires": [
            [
                "d4dce9b4.1f2588"
            ]
        ]
    },
    {
        "id": "d4dce9b4.1f2588",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "table with n rows as array",
        "func": "var numberOfRows = msg.payload;\nflow.set(\"lastId\",numberOfRows);\nmsg.payload=[];\nfor (let i=1; i<=numberOfRows; i++) {\n    msg.payload.push({\"id\":i,\"timestamp\":Date.now(),\"text\":\"this is line\"+i})\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 425,
        "y": 134,
        "wires": [
            [
                "b075d2ac.a69f3",
                "f9bfd98.abe1a28",
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "8254f2d2.eeaa1",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "updateOrAddData (add)",
        "func": "var id=flow.get(\"lastId\") || 0;\n++id;\nmsg.payload={\n    command:\"updateOrAddData\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timestamp\":msg.payload,\n            \"text\":\"updateOrAddData (add) (#\"+id+\")\"\n            }\n        ]\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 425,
        "y": 491,
        "wires": [
            [
                "570e922d.1d465c",
                "b075d2ac.a69f3"
            ]
        ],
        "info": "# updateOrAddData([row])\n\nadds a the row with a new id (same as addRow)"
    },
    {
        "id": "cbd6baa0.fa7d78",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "add",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 144,
        "y": 525,
        "wires": [
            [
                "8254f2d2.eeaa1"
            ]
        ]
    },
    {
        "id": "570e922d.1d465c",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "updateOrAddData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 405,
        "y": 610,
        "wires": []
    },
    {
        "id": "782ab41e.cbb66c",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "add @ end",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 154,
        "y": 423,
        "wires": [
            [
                "760fde70.028f"
            ]
        ]
    },
    {
        "id": "760fde70.028f",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "addRow @ end",
        "func": "var id=flow.get(\"lastId\") || 0;\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timestamp\":msg.payload,\n            \"text\":\"addRow @ end (#\"+id+\")\"\n            }\n        ],\n        false\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395,
        "y": 389,
        "wires": [
            [
                "b54f6ce8.3b1a4",
                "b075d2ac.a69f3"
            ]
        ],
        "info": "# addRow([row],onTop)\n\n`onTop=false`\n\nadds a new Row on top of the table"
    },
    {
        "id": "deeff963.289f08",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "updateOrAddData (update)",
        "func": "var id=flow.get(\"lastId\") || 0;\nif (id<2) {\n    node.error(\"use only if minimum of 2 Lines existing!\")\n    return;\n}\n\nid=Math.floor(id/2); //\nmsg.payload={\n    command:\"updateOrAddData\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timestamp\":msg.payload,\n            \"text\":\"updateOrAddData (update) (#\"+id+\")\"\n            }\n        ]\n    ],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 435,
        "y": 559,
        "wires": [
            [
                "570e922d.1d465c",
                "b075d2ac.a69f3"
            ]
        ],
        "info": "# updateOrAddData([row])\n\nupdates a the row with an id in the middle from 1 to lastId, hope it exists!\nIf not a row will be added"
    },
    {
        "id": "557e109d.f9d7e",
        "type": "comment",
        "z": "fd7141d6.f493b",
        "name": "update ui-table by passing the complete tableData as array",
        "info": "",
        "x": 287,
        "y": 83,
        "wires": []
    },
    {
        "id": "6a095f36.8f13a",
        "type": "comment",
        "z": "fd7141d6.f493b",
        "name": "update ui-table by using commands",
        "info": "",
        "x": 217,
        "y": 253,
        "wires": []
    },
    {
        "id": "f08308d6.c66f68",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "update",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 144,
        "y": 593,
        "wires": [
            [
                "deeff963.289f08"
            ]
        ]
    },
    {
        "id": "77b4d006.543ed",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "deleteRow",
        "func": "var id=flow.get(\"lastId\") || 0;\nif (id<2) {\n    node.error(\"use only if minimum of 2 Lines existing!\")\n    return;\n}\n\nid=Math.floor(id/2); //\nmsg.payload={\n    command:\"deleteRow\",\n    arguments: [id],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 385,
        "y": 712,
        "wires": [
            [
                "e34a75a3.9f0188",
                "b075d2ac.a69f3"
            ]
        ],
        "info": "# deleteRow(row / [rows])\n\n`row=singleId`\n\nor\n\n`row=[array of IDs]` // seems there is a bug/issue in tabulator\n\ndelete a single the row with an id in the middle from 1 to lastId, hope it exists.\n\nWill fail on the second hit if you inject this two times because the id wad deleteted on the first"
    },
    {
        "id": "936c8219.458bc",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "delete",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 144,
        "y": 746,
        "wires": [
            [
                "77b4d006.543ed"
            ]
        ]
    },
    {
        "id": "e34a75a3.9f0188",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "deleteRow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 385,
        "y": 831,
        "wires": []
    },
    {
        "id": "fafa24f8.577d28",
        "type": "comment",
        "z": "fd7141d6.f493b",
        "name": "deleteRow will punch holes in table!",
        "info": "",
        "x": 217,
        "y": 661,
        "wires": []
    },
    {
        "id": "f9bfd98.abe1a28",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "addRow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 375,
        "y": 185,
        "wires": []
    },
    {
        "id": "76c4495f.da70f8",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "table recorder",
        "func": "var status = {fill:\"red\",shape:\"ring\",text:\"an error occured\"};\nvar success = (msg.topic && msg.topic===\"success\") || false;\nvar tableData = flow.get(\"tableData\");\nif (tableData === undefined) {\n    tableData = [];\n    flow.set(\"tableData\",tableData);\n}\n\n// find the index for a row in tableData for a given index (id)\nfunction checkIndex(id) {\n    let matchRow=-1\n    tableData.forEach(function (row,index){\n        if (row.id === id){\n            matchRow=index;\n            return matchRow;\n        }\n    })\n    return matchRow;\n}\n\n// flat merge one row \nfunction mergeRow(dest,source) {\n    Object.keys(source).forEach(function(key) {\n        dest[key]=source[key];\n    })\n}\n\n//merge or add one or many rows into tableData \nfunction mergeData(newData,toTop) {\n    newData.forEach(function (item,index) {\n        node.warn([\"findIndex\",item]);\n        let row=checkIndex(item.id);\n        if (row<0) { // row do not existst in tableData\n            if (toTop) {\n                tableData.push(item);\n                status.text+=\"newRow @ top\";\n            } else {\n                tableData.unshift(item);\n                status.text+=\"newRow @ bottom\";\n            }\n            return;\n        } else { // row exists so update\n            mergeRow(tableData[row],item);\n            status.text+=\"row updated\";\n            return;\n        }\n        if (status.text!==\"\") node.status(status);\n    });\n}\n\nswitch (typeof msg.payload){\n    case \"string\":\n        node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        switch (msg.payload){\n            case \"change\":\n                status={fill:\"green\",shape:\"dot\",text:\"table restored \"+tableData.length+\" rows\"};\n                msg.payload=tableData;\n                break;\n        }\n        break;\n    case \"object\":\n        node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        if (Array.isArray(msg.payload)) { // replace all tableData\n            status={fill:\"green\",shape:\"dot\",text:\"table replaced \"+msg.payload.length+\" rows\"};\n            tableData=RED.util.cloneMessage(msg.payload); \n        } else {\n            switch (msg.payload.command) { // clearData does not return a promise!\n                case \"clearData\":\n                    status={fill:\"green\",shape:\"dot\",text:\"clearData: done\"};\n                    tableData=[];\n                    flow.set(\"lastId\",0);\n                    break;                \n            }\n        }\n        break;\n    default: // likely a msg fom a ui-table command or callback\n        if (msg.hasOwnProperty(\"topic\")&&\n            msg.hasOwnProperty(\"ui_control\") && \n            msg.ui_control.hasOwnProperty(\"callback\") &&\n            msg.hasOwnProperty(\"return\")) { // message originates from a ui-table callback\n            if (success) {\n                switch(msg.return.command) {\n                    case \"addRow\":\n                        status.text=\"addRow: \";\n                        mergeData(msg.return.arguments[0],msg.return.arguments[1]);\n                        status.shape=\"dot\";\n                        break;\n                    case \"updateOrAddData\":\n                        status.text=\"updateOrAddData: \";\n                        mergeData(msg.return.arguments[0]);\n                        break;\n                    case \"deleteRow\":\n                        let row=checkIndex(msg.return.arguments[0]);\n                        tableData.splice(row,1);\n                        status.shape=\"dot\";\n                        status.text=\"deleteRow: \"+row+\" deleted\";\n                        break;\n                    default:\n                        status={fill:\"yellow\",shape:\"dot\",text:msg.return.command + \" unknown!\"};\n                        break;         \n                }\n            } else {\n                status.text=msg.topic+\" \"+msg.error;\n            }\n        }\n        break;\n}\nif (success) status.fill=\"green\";\nflow.set(\"tableData\",tableData);\nnode.status(status);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1075,
        "y": 508,
        "wires": [
            [
                "b075d2ac.a69f3"
            ]
        ],
        "icon": "font-awesome/fa-database",
        "info": "# simple ui-table handler\n## abstract\nUsing ui-table with commands offer the hole flexibilty of tabulator. The table can be manipulated down to cell level.\nAs the ui-table node only passes the commands to tabulator and receives promises back the node does not hold the table data. If the data should be available after refresh, tab change, new connections the flow is responsible to cache the data and all the manipulations.\nThis node takes care of most simple data manipulation commands and holds a copy of the data in `flow.context.tabledata`\n\n## details\n\n### row index (id)\n\nTo identify a [row a index](http://tabulator.info/docs/4.5/data#overview) column has to be defined. This colum defaults to `id` but can be changed by specifing a **field** by using `msg.ui_control`. In this example the row index is a simple counter adding up by one if a new line is added.\n\n### addRow command\n\n[details @ tabulator addRow docs](http://tabulator.info/docs/4.5/update#alter-add)\n\nYou can add a row by sending the `addRow` command. You can decide if the row adds on the top or at the bottom of table.\n\n### addOrUpdate command\n\n[details @ tabulator addOrUpdate docs](http://tabulator.info/docs/4.5/update#alter-update)\n\nTo update data the best way is to use the `addOrUpdate` command. If the row indetified by the index is not exeisting a new row will be added automatically\n\n### deleteRow command\n\n[details @ tabulator deleteRow docs](http://tabulator.info/docs/4.5/update#row)\n\nDelete one or more rows (passing an array always results in \"row not found error\"! I think there is an issue in tabulator)\n\n### clearData\n\n[details @ tabulator clearData docs](http://tabulator.info/docs/4.5/update#alter-empty)\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"
    },
    {
        "id": "7b1c27f4.36a718",
        "type": "ui_ui_control",
        "z": "fd7141d6.f493b",
        "name": "",
        "events": "all",
        "x": 800,
        "y": 508,
        "wires": [
            [
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "8b79840b.aff7e8",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "d": true,
        "name": "delete 1-5",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 154,
        "y": 780,
        "wires": [
            [
                "fee8b78d.068f98"
            ]
        ]
    },
    {
        "id": "fee8b78d.068f98",
        "type": "function",
        "z": "fd7141d6.f493b",
        "d": true,
        "name": "delete Rows [2,4,6,8,10]",
        "func": "var id=flow.get(\"lastId\") || 0;\nif (id<10) {\n    node.error(\"use only if minimum of 10 Lines existing!\")\n    return;\n}\n\nid=Math.floor(id/2); //\nmsg.payload={\n    command:\"deleteRow\",\n    arguments: [[2,4,6,8,10]],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 425,
        "y": 780,
        "wires": [
            [
                "b075d2ac.a69f3",
                "e34a75a3.9f0188"
            ]
        ],
        "info": "# deleteRow(row / [rows])\n\n`row=singleId`\n\nor\n\n`row=[array of IDs]` // seems there is a bug/issue in tabulator\n\ndelete a single the row with an id in the middle from 1 to lastId, hope it exists.\n\nWill fail on the second hit if you inject this two times because the id wad deleteted on the first"
    },
    {
        "id": "fe4ba122.df8fb",
        "type": "function",
        "z": "fd7141d6.f493b",
        "name": "clearData",
        "func": "\nmsg.payload={\n    command:\"clearData\",\n    arguments: [],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 375,
        "y": 950,
        "wires": [
            [
                "6e49e266.f72b6c",
                "b075d2ac.a69f3",
                "76c4495f.da70f8"
            ]
        ],
        "info": "# clear data\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"
    },
    {
        "id": "82194704.7ab2d8",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "clear",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 144,
        "y": 984,
        "wires": [
            [
                "fe4ba122.df8fb"
            ]
        ]
    },
    {
        "id": "df623146.8270a",
        "type": "comment",
        "z": "fd7141d6.f493b",
        "name": "Erase all data by using clearData command",
        "info": "",
        "x": 247,
        "y": 899,
        "wires": []
    },
    {
        "id": "6e49e266.f72b6c",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "clearData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 375,
        "y": 1001,
        "wires": []
    },
    {
        "id": "d404def3.39a63",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "change",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "change",
        "payloadType": "str",
        "x": 790,
        "y": 576,
        "wires": [
            [
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "36be75f0.115c6a",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Init 20 rows",
        "tooltip": "init table by passing the hole table array (default way)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "20",
        "payloadType": "num",
        "topic": "",
        "x": 164,
        "y": 134,
        "wires": [
            [
                "d4dce9b4.1f2588"
            ]
        ]
    },
    {
        "id": "b496aa6a.32f2d8",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "add one row @ top",
        "tooltip": "add a new row to the top",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 184,
        "y": 304,
        "wires": [
            [
                "eb577b4b.510388"
            ]
        ]
    },
    {
        "id": "79d05aaa.e2c7d4",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "add one row @ end",
        "tooltip": "add a new row at the end ",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 184,
        "y": 389,
        "wires": [
            [
                "760fde70.028f"
            ]
        ]
    },
    {
        "id": "d37bf3a8.373dd",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "addOrUpdate (add)",
        "tooltip": "add a new row by passing a new id",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 184,
        "y": 491,
        "wires": [
            [
                "8254f2d2.eeaa1"
            ]
        ]
    },
    {
        "id": "d31c2ac7.05bed8",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "addOrUpdate (update)",
        "tooltip": "update the row in the middle (or add if a row with that id not exists)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 194,
        "y": 559,
        "wires": [
            [
                "deeff963.289f08"
            ]
        ]
    },
    {
        "id": "c637efb3.9c38c",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "delete (middle)",
        "tooltip": "delate the row with the id=maxId/2. Will result an error if not existing",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 174,
        "y": 712,
        "wires": [
            [
                "77b4d006.543ed"
            ]
        ]
    },
    {
        "id": "5531f2d0.fb913c",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear",
        "tooltip": "clear all table data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 144,
        "y": 950,
        "wires": [
            [
                "fe4ba122.df8fb"
            ]
        ]
    },
    {
        "id": "858a6bc2.0384e8",
        "type": "ui_text",
        "z": "fd7141d6.f493b",
        "group": "c91332c0.50c11",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{status.text}}",
        "layout": "col-center",
        "x": 960,
        "y": 746,
        "wires": []
    },
    {
        "id": "213d641a.12a53c",
        "type": "status",
        "z": "fd7141d6.f493b",
        "name": "",
        "scope": [
            "76c4495f.da70f8"
        ],
        "x": 799,
        "y": 746,
        "wires": [
            [
                "858a6bc2.0384e8"
            ]
        ]
    },
    {
        "id": "e7d10007.d6e73",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh (change)",
        "tooltip": "Same as ui-control sending a change message",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "change",
        "payloadType": "str",
        "topic": "",
        "x": 820,
        "y": 542,
        "wires": [
            [
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "8386c3a7.41ead",
        "type": "inject",
        "z": "fd7141d6.f493b",
        "name": "format table",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 164,
        "y": 1137,
        "wires": [
            [
                "8ae898e7.418068"
            ]
        ]
    },
    {
        "id": "f59e9830.e23608",
        "type": "comment",
        "z": "fd7141d6.f493b",
        "name": "Format Table using ui_control",
        "info": "",
        "x": 197,
        "y": 1052,
        "wires": []
    },
    {
        "id": "19e88f0.0c32071",
        "type": "debug",
        "z": "fd7141d6.f493b",
        "name": "clearData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 375,
        "y": 1154,
        "wires": []
    },
    {
        "id": "ea064e3c.22437",
        "type": "ui_button",
        "z": "fd7141d6.f493b",
        "name": "",
        "group": "c91332c0.50c11",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "format table",
        "tooltip": "Formats the table using msg.ui_control",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 164,
        "y": 1103,
        "wires": [
            [
                "8ae898e7.418068"
            ]
        ]
    },
    {
        "id": "8ae898e7.418068",
        "type": "change",
        "z": "fd7141d6.f493b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{\"customHeight\":18,\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":false,\"index\":\"id\",\"columns\":[{\"title\":\"ID\",\"field\":\"id\",\"formatter\":\"text\",\"headerTooltip\":\"id number act as row index\"},{\"formatterParams\":{\"outputFormat\":\"HH:mm:ss.SSS\",\"inputFormat\":\"x\",\"invalidPlaceholder\":\"(unknown)\"},\"title\":\"Timestamp\",\"field\":\"timestamp\",\"formatter\":\"datetime\",\"headerTooltip\":\"timestamp of last change\"},{\"title\":\"0\",\"field\":\"0\",\"formatter\":\"text\",\"headerTooltip\":\"last cause of reboot (provided by http json request)\"}]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 1103,
        "wires": [
            [
                "19e88f0.0c32071",
                "b075d2ac.a69f3",
                "6bd61b7.a6a56e4"
            ]
        ]
    },
    {
        "id": "6bd61b7.a6a56e4",
        "type": "change",
        "z": "fd7141d6.f493b",
        "name": "change",
        "rules": [
            {
                "t": "delete",
                "p": "ui_control",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "change",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 613,
        "y": 1103,
        "wires": [
            [
                "76c4495f.da70f8"
            ]
        ]
    },
    {
        "id": "96805ffa.9915d",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "table row input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "a9fecaf4.6a9338",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "table column formatting",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ui_control",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "cd456e79.bc165",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "table column formatting",
        "rules": [
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "/* {\t    \"customHeight\": 18,\t    \"tabulator\": {\t        \"layout\": \"fitColumns\",\t        \"movableColumns\": false,\t        \"index\": \"id\",\t        \"columns\": [\t            {\t                \"title\": \"ID\",\t                \"field\": \"id\",\t                \"formatter\": \"text\",\t                \"headerTooltip\": \"id number act as row index\"\t            },\t            {\t                \"formatterParams\": {\t                    \"outputFormat\": \"HH:mm:ss.SSS\",\t                    \"inputFormat\": \"x\",\t                    \"invalidPlaceholder\": \"(unknown)\"\t                },\t                \"title\": \"Timestamp\",\t                \"field\": \"timestamp\",\t                \"formatter\": \"datetime\",\t                \"headerTooltip\": \"timestamp of last change\"\t            },\t            {\t                \"title\": \"Text\",\t                \"field\": \"text\",\t                \"headerTooltip\": \"last cause of reboot (provided by http json request)\"\t            }\t        ]\t    }\t} */\t(\t$max_sequence_len := payload.(sequence~>$count())~>$max();\t{\t    \"customHeight\": 18,\t    \"tabulator\": {\t        /* \"layout\": \"fitColumns\", */\t        \"movableColumns\": false,\t        /* \"index\": \"id\",*/\t        \"columns\": \t             [0.. $max_sequence_len].{\t                \"title\": $~>$string(),\t                \"field\": $~>$string(),\t                \"formatter\": \"text\"\t        }\t    }\t}\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "13885dd2.729292",
        "type": "change",
        "z": "fd7141d6.f493b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{\"customHeight\":18,\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":false,\"index\":\"id\",\"columns\":[{\"title\":\"ID\",\"field\":\"id\",\"formatter\":\"text\",\"headerTooltip\":\"id number act as row index\"},{\"formatterParams\":{\"outputFormat\":\"HH:mm:ss.SSS\",\"inputFormat\":\"x\",\"invalidPlaceholder\":\"(unknown)\"},\"title\":\"Timestamp\",\"field\":\"timestamp\",\"formatter\":\"datetime\",\"headerTooltip\":\"timestamp of last change\"},{\"title\":\"Text\",\"field\":\"text\",\"headerTooltip\":\"last cause of reboot (provided by http json request)\"}]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "2d2ede18.da38e2",
        "type": "change",
        "z": "fd7141d6.f493b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{\"customHeight\":18,\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":false,\"index\":\"id\",\"columns\":[{\"title\":\"ID\",\"field\":\"id\",\"formatter\":\"text\",\"headerTooltip\":\"id number act as row index\"},{\"formatterParams\":{\"outputFormat\":\"HH:mm:ss.SSS\",\"inputFormat\":\"x\",\"invalidPlaceholder\":\"(unknown)\"},\"title\":\"Timestamp\",\"field\":\"timestamp\",\"formatter\":\"datetime\",\"headerTooltip\":\"timestamp of last change\"},{\"title\":\"Text\",\"field\":\"text\",\"headerTooltip\":\"last cause of reboot (provided by http json request)\"}]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f05df0.17023",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "gap statistics",
        "dataSetSize": 0,
        "inputField": "input",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "d714c2d.082664",
                "c4f17b19.79fb98"
            ]
        ]
    },
    {
        "id": "d714c2d.082664",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "gap statistics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "f98d2046.f8055",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "gap between sequences",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "/* get duration_microsec of first element in sequence - excluding the first sequence */\t((payload.sequence[0])#$i[$i>0]).duration_microsec",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "size",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 860,
        "wires": [
            [
                "c7f05df0.17023",
                "a8f63b7c.a39908"
            ]
        ]
    },
    {
        "id": "a8f63b7c.a39908",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "sequence gaps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 860,
        "wires": []
    },
    {
        "id": "c4f17b19.79fb98",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "size",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "median",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "min",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "max",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "655b0c34.eeb504"
            ],
            [
                "903f1249.e4011"
            ],
            [
                "8f742bde.401ab8"
            ],
            [
                "8e5b9057.ef482"
            ]
        ]
    },
    {
        "id": "6e932bea.f9e894",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "9e1b54ba.5857b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 980,
        "wires": []
    },
    {
        "id": "655b0c34.eeb504",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "topic = median",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "median",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "6e932bea.f9e894",
                "80351ddd.a9fe9",
                "3dbce962.2a6dd6"
            ]
        ]
    },
    {
        "id": "d1679f0c.90ac7",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "9e1b54ba.5857b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "median",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "80351ddd.a9fe9",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "gap size",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 960,
        "wires": []
    },
    {
        "id": "903f1249.e4011",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": " set flow.gap_median, topic = min",
        "rules": [
            {
                "t": "set",
                "p": "gap_median",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "d1679f0c.90ac7",
                "3dbce962.2a6dd6"
            ]
        ]
    },
    {
        "id": "3bf9bf66.966be",
        "type": "link in",
        "z": "98f04e36.3a6d",
        "name": "gap statistics",
        "links": [
            "3dbce962.2a6dd6",
            "32895f4d.f13a8"
        ],
        "x": 155,
        "y": 920,
        "wires": [
            [
                "c7f05df0.17023"
            ]
        ]
    },
    {
        "id": "3dbce962.2a6dd6",
        "type": "link out",
        "z": "98f04e36.3a6d",
        "name": "to gap statistics",
        "links": [
            "3bf9bf66.966be"
        ],
        "x": 755,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8f742bde.401ab8",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": " set flow.gap_min, topic = max",
        "rules": [
            {
                "t": "set",
                "p": "gap_min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "3dbce962.2a6dd6"
            ]
        ]
    },
    {
        "id": "8e5b9057.ef482",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "calculate delta_min & delta_max",
        "rules": [
            {
                "t": "set",
                "p": "gap_max",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gap_median",
                "pt": "msg",
                "to": "gap_median",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "gap_min",
                "pt": "msg",
                "to": "gap_min",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "delta_min",
                "pt": "msg",
                "to": "gap_min - gap_median",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "delta_max",
                "pt": "msg",
                "to": "gap_max - gap_median",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "292f61c3.0c6bce",
                "165b09f4.a0f686"
            ]
        ]
    },
    {
        "id": "165b09f4.a0f686",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "9e1b54ba.5857b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "delta_min",
        "format": "{{msg.delta_min}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1140,
        "wires": []
    },
    {
        "id": "292f61c3.0c6bce",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "9e1b54ba.5857b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "delta max",
        "format": "{{msg.delta_max}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f748e93b.75ea48",
        "type": "ui_button",
        "z": "98f04e36.3a6d",
        "name": "",
        "group": "a3f6904d.ff3a4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "clear stats",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "clear",
        "topicType": "str",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "32895f4d.f13a8",
                "a6969cee.fdf44"
            ]
        ]
    },
    {
        "id": "de3e05e0.ed6ba8",
        "type": "link out",
        "z": "98f04e36.3a6d",
        "name": "single keypress sequences",
        "links": [
            "5fb3586b.0da448",
            "22856608.6c627a"
        ],
        "x": 375,
        "y": 500,
        "wires": []
    },
    {
        "id": "5fb3586b.0da448",
        "type": "link in",
        "z": "98f04e36.3a6d",
        "name": "to gap analysis",
        "links": [
            "de3e05e0.ed6ba8"
        ],
        "x": 115,
        "y": 820,
        "wires": [
            [
                "f98d2046.f8055"
            ]
        ]
    },
    {
        "id": "32895f4d.f13a8",
        "type": "link out",
        "z": "98f04e36.3a6d",
        "name": "button clear",
        "links": [
            "3bf9bf66.966be",
            "8ee8c024.5b945"
        ],
        "x": 215,
        "y": 760,
        "wires": []
    },
    {
        "id": "e191b86.6bb7748",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "col 1 statistics",
        "dataSetSize": 0,
        "inputField": "input",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 300,
        "y": 1320,
        "wires": [
            [
                "ddb022cd.627a1",
                "3c0e1791.a1d2f8"
            ]
        ]
    },
    {
        "id": "ddb022cd.627a1",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "gap statistics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7d26c35d.a2011c",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "duration col 1",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "(payload.sequence[1]).duration_microsec",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "size",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 1260,
        "wires": [
            [
                "e191b86.6bb7748",
                "89465e54.1898c"
            ]
        ]
    },
    {
        "id": "89465e54.1898c",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "sequence gaps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3c0e1791.a1d2f8",
        "type": "switch",
        "z": "98f04e36.3a6d",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "size",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "median",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "min",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "max",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 1500,
        "wires": [
            [
                "58d53d40.0d6634"
            ],
            [
                "d2b6fd1d.03491"
            ],
            [
                "d5cc095b.73cc38"
            ],
            [
                "eb84e191.a5fb3"
            ]
        ]
    },
    {
        "id": "fb68549c.452788",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "b9f27d7f.3c6aa",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 1380,
        "wires": []
    },
    {
        "id": "58d53d40.0d6634",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "topic = median",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "median",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1420,
        "wires": [
            [
                "fb68549c.452788",
                "4dab4c08.c3e9b4",
                "f6803955.c5d488"
            ]
        ]
    },
    {
        "id": "11769f66.85d771",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "b9f27d7f.3c6aa",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "median",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4dab4c08.c3e9b4",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "gap size",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d2b6fd1d.03491",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": " set flow.col1_median, topic = min",
        "rules": [
            {
                "t": "set",
                "p": "col1_median",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1480,
        "wires": [
            [
                "11769f66.85d771",
                "f6803955.c5d488"
            ]
        ]
    },
    {
        "id": "8ee8c024.5b945",
        "type": "link in",
        "z": "98f04e36.3a6d",
        "name": "gap statistics",
        "links": [
            "f6803955.c5d488",
            "32895f4d.f13a8"
        ],
        "x": 155,
        "y": 1320,
        "wires": [
            [
                "e191b86.6bb7748"
            ]
        ]
    },
    {
        "id": "f6803955.c5d488",
        "type": "link out",
        "z": "98f04e36.3a6d",
        "name": "to gap statistics",
        "links": [
            "8ee8c024.5b945"
        ],
        "x": 755,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d5cc095b.73cc38",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": " set flow.col1_min, topic = max",
        "rules": [
            {
                "t": "set",
                "p": "col1_min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1520,
        "wires": [
            [
                "f6803955.c5d488"
            ]
        ]
    },
    {
        "id": "eb84e191.a5fb3",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "calculate delta_min & delta_max",
        "rules": [
            {
                "t": "set",
                "p": "col1_max",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "col1_median",
                "pt": "msg",
                "to": "col1_median",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "col1_min",
                "pt": "msg",
                "to": "col1_min",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "delta_min",
                "pt": "msg",
                "to": "col1_min - col1_median",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "delta_max",
                "pt": "msg",
                "to": "col1_max - col1_median",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1580,
        "wires": [
            [
                "70069796.1d6cb8",
                "514492de.c7857c"
            ]
        ]
    },
    {
        "id": "514492de.c7857c",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "b9f27d7f.3c6aa",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "delta_min",
        "format": "{{msg.delta_min}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1540,
        "wires": []
    },
    {
        "id": "70069796.1d6cb8",
        "type": "ui_text",
        "z": "98f04e36.3a6d",
        "group": "b9f27d7f.3c6aa",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "delta max",
        "format": "{{msg.delta_max}}",
        "layout": "row-spread",
        "x": 900,
        "y": 1580,
        "wires": []
    },
    {
        "id": "22856608.6c627a",
        "type": "link in",
        "z": "98f04e36.3a6d",
        "name": "to gap analysis",
        "links": [
            "de3e05e0.ed6ba8"
        ],
        "x": 115,
        "y": 1220,
        "wires": [
            [
                "7d26c35d.a2011c"
            ]
        ]
    },
    {
        "id": "2a277480.455c3c",
        "type": "ui_button",
        "z": "98f04e36.3a6d",
        "name": "",
        "group": "a3f6904d.ff3a4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "store keypress",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "a30a8428.a95238"
            ]
        ]
    },
    {
        "id": "a6969cee.fdf44",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "array_of_RC_sequences",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9a72c70a.bbd088",
        "type": "ui_button",
        "z": "98f04e36.3a6d",
        "name": "",
        "group": "a3f6904d.ff3a4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "process keypresses",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "3b9f281.e91ced8"
            ]
        ]
    },
    {
        "id": "a30a8428.a95238",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current_RC_key_press",
                "pt": "msg",
                "to": "current_RC_key_press",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "key_presses",
                "pt": "msg",
                "to": "key_presses",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "key_presses",
                "pt": "flow",
                "to": "(\t $skip_first_gap := ($ ~>| current_RC_key_press[0] | { }, \"0\"|).current_RC_key_press;  \t $keys := $skip_first_gap~>$keys();\t $cur_key_presses := $keys.{ \"key\": $, \t          \"values\" : ( $i:= $;\t                       [($skip_first_gap~>$lookup($i))];\t                      )};\t $all_keys := [ key_presses.key, $keys]~>$distinct();\t $all_keys.{\t  \"key\": $,\t  \"values\" : ( $key:=$;\t               [$cur_key_presses[key=$key].values ,\t                $$.key_presses[key=$key].values\t               ]\t             )\t }\t)\t/* example input message\t{\t    \"current_RC_key_press\": [\t        {\t            \"0\": -16777215,\t            \"1\": 2560,\t            \"2\": -972,\t            \"3\": 355,\t            \"4\": -954,\t            \"5\": 355,\t            \"6\": -546,\t            \"7\": 329,\t            \"8\": -520,\t            \"9\": 355,\t            \"10\": -963,\t            \"11\": 824,\t            \"12\": -486,\t            \"13\": 364,\t            \"14\": -512,\t            \"15\": 364,\t            \"16\": -512,\t            \"17\": 355,\t            \"18\": -520,\t            \"19\": 381,\t            \"20\": -520,\t            \"21\": 772,\t            \"22\": -954,\t            \"23\": 355,\t            \"24\": -520,\t            \"25\": 355,\t            \"26\": -520,\t            \"27\": 798,\t            \"28\": -954,\t            \"29\": 798,\t            \"30\": -520,\t            \"31\": 355,\t            \"32\": -520,\t            \"33\": 355,\t            \"34\": -928,\t            \"35\": 381,\t            \"36\": -494,\t            \"37\": 381\t        },\t        {\t            \"0\": -84456,\t            \"1\": 2569,\t            \"2\": -963,\t            \"3\": 355,\t            \"4\": -928,\t            \"5\": 381,\t            \"6\": -520,\t            \"7\": 381,\t            \"8\": -494,\t            \"9\": 381,\t            \"10\": -937,\t            \"11\": 798,\t            \"12\": -512,\t            \"13\": 381,\t            \"14\": -494,\t            \"15\": 355,\t            \"16\": -520,\t            \"17\": 355,\t            \"18\": -520,\t            \"19\": 355,\t            \"20\": -520,\t            \"21\": 798,\t            \"22\": -928,\t            \"23\": 407,\t            \"24\": -494,\t            \"25\": 381,\t            \"26\": -494,\t            \"27\": 798,\t            \"28\": -954,\t            \"29\": 798,\t            \"30\": -520,\t            \"31\": 364,\t            \"32\": -520,\t            \"33\": 355,\t            \"34\": -954,\t            \"35\": 355,\t            \"36\": -520,\t            \"37\": 381,\t            \"38\": 125026\t        }\t    ],\t    \"key_presses\": []\t}\t*/",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "13a678fe.fa3ae7",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": " store in flow.current_RC_key_press",
        "rules": [
            {
                "t": "set",
                "p": "current_RC_key_press",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3b9f281.e91ced8",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "key_presses",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "d9455d2f.e7c92"
            ]
        ]
    },
    {
        "id": "d9455d2f.e7c92",
        "type": "split",
        "z": "98f04e36.3a6d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1090,
        "y": 880,
        "wires": [
            [
                "43fde0a0.259d6",
                "989bf305.577ba"
            ]
        ]
    },
    {
        "id": "44e06cf4.50d3f4",
        "type": "join",
        "z": "98f04e36.3a6d",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1180,
        "wires": [
            [
                "8157bbef.41b3f8",
                "f2dbad98.2be4c"
            ]
        ]
    },
    {
        "id": "8157bbef.41b3f8",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "joined",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1180,
        "wires": []
    },
    {
        "id": "43fde0a0.259d6",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "splitted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 880,
        "wires": []
    },
    {
        "id": "e98ef67b.2ce2a8",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "size gap statistics",
        "dataSetSize": 0,
        "inputField": "payload.values",
        "inputFieldType": "msg",
        "resultField": "payload.size",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": false,
        "clearData": true,
        "x": 1290,
        "y": 940,
        "wires": [
            [
                "6eb283b2.4f71bc"
            ]
        ]
    },
    {
        "id": "989bf305.577ba",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "msg.topic=size",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "size",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 940,
        "wires": [
            [
                "e98ef67b.2ce2a8"
            ]
        ]
    },
    {
        "id": "ea6ec45d.a38f48",
        "type": "debug",
        "z": "98f04e36.3a6d",
        "name": "gap statistics out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "82bbb9fa.378688",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "median gap statistics",
        "dataSetSize": 0,
        "inputField": "payload.values",
        "inputFieldType": "msg",
        "resultField": "payload.median",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": false,
        "clearData": true,
        "x": 1300,
        "y": 980,
        "wires": [
            [
                "546a4f34.6ff91"
            ]
        ]
    },
    {
        "id": "6eb283b2.4f71bc",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "msg.topic=size",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "median",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 980,
        "wires": [
            [
                "82bbb9fa.378688"
            ]
        ]
    },
    {
        "id": "bc30e32c.e2615",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "min gap statistics",
        "dataSetSize": 0,
        "inputField": "payload.values",
        "inputFieldType": "msg",
        "resultField": "payload.min",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": false,
        "clearData": true,
        "x": 1290,
        "y": 1020,
        "wires": [
            [
                "2f6f400b.623af"
            ]
        ]
    },
    {
        "id": "546a4f34.6ff91",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "msg.topic=min",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1020,
        "wires": [
            [
                "bc30e32c.e2615"
            ]
        ]
    },
    {
        "id": "2cee3cff.d08f94",
        "type": "statistics",
        "z": "98f04e36.3a6d",
        "name": "max gap statistics",
        "dataSetSize": 0,
        "inputField": "payload.values",
        "inputFieldType": "msg",
        "resultField": "payload.max",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": false,
        "clearData": true,
        "x": 1290,
        "y": 1060,
        "wires": [
            [
                "ea6ec45d.a38f48",
                "c9d13770.861458"
            ]
        ]
    },
    {
        "id": "2f6f400b.623af",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "msg.topic=max",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1060,
        "wires": [
            [
                "2cee3cff.d08f94"
            ]
        ]
    },
    {
        "id": "c9d13770.861458",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.delta_min",
                "pt": "msg",
                "to": "payload.min - payload.median",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.delta_max",
                "pt": "msg",
                "to": "payload.max - payload.median",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1120,
        "wires": [
            [
                "44e06cf4.50d3f4"
            ]
        ]
    },
    {
        "id": "f2dbad98.2be4c",
        "type": "ui_table",
        "z": "98f04e36.3a6d",
        "group": "ca2c9bdb.872518",
        "name": "Marks & Space duration statistics",
        "order": 1,
        "width": "13",
        "height": "16",
        "columns": [
            {
                "field": "key",
                "title": "index",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "size",
                "title": "count",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "median",
                "title": "median",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "delta_min",
                "title": "delta_min",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "delta_max",
                "title": "delta_max",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1480,
        "y": 1260,
        "wires": []
    },
    {
        "id": "a0397f47.515e6",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "table rows input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(payload.{\t  \"sequence\" : sequence#$i.{ \"\" & $i : $.type= \"space\" \t                                          ? - $.duration_microsec \t                                          :$.duration_microsec }~>$merge()\t}).sequence",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1260,
        "wires": [
            [
                "f2dbad98.2be4c"
            ]
        ]
    },
    {
        "id": "c0cc60de.a8a03",
        "type": "ui_button",
        "z": "98f04e36.3a6d",
        "name": "",
        "group": "a3f6904d.ff3a4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "clear keypresses",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 1110,
        "y": 1340,
        "wires": [
            [
                "e447f323.075fd"
            ]
        ]
    },
    {
        "id": "e447f323.075fd",
        "type": "change",
        "z": "98f04e36.3a6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "key_presses",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 1340,
        "wires": [
            [
                "f2dbad98.2be4c"
            ]
        ]
    }
]